#home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    font-family: 'Arial';
    height: 100vh;
}

h1 {
    font-size: 2rem;
    font-family: 'Arial';
    text-align: center;
    opacity: 0.9;
}

//HOLDS BANNER FOR REGISTER/LOGIN

#banner{

    display: flex;
    flex-direction: row;
    position: relative;
    
    width: 1000px;
    height: 225px;

    min-width: 600px;

    background-color: hsl(217, 84%, 59%);
    border-radius: 25px;
}

//STATEMENT ON BANNER

#bannerStmnt{

    display:flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 100%;
    height: 50%;

    font-size: 2.5rem;
    font-weight: bold;
    color: white;

    padding: 0px 0px 0px 30px;
}

//HOLDS LOGIN AND REGISTER BUTTONS

#bannerBtn{

    width: 100%;
    height: 50%;

    display: flex;
    align-items: flex-end;

    padding: 0px 0px 30px 30px;
}

//LOGIN AND REGISTER BUTTONS

.homeBtn{
    width: 100px;
    height: 40px;
    font-size: 1.10rem;
    font-weight: bold;
    color:hsl(217, 84%, 59%);
    border: none;
    border-radius: 10px;
    margin: 0px 20px 0px 0px;
    cursor: pointer;
    padding: 5px;
}

.homeBtn:hover {
    background-color: black;
    color: hsl(61, 67%, 70%);
    transition: 0.5s;
}

#banner-details{
    display: flex;
    flex-direction: column;
}

#bannerImg{
    width: 30%;
    height: 100%;
    padding-left: 274px;
}


