<head>
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="../../../public/assets/css/style.css">
</head>

<section class="h-100 h-custom" style="background-color: #eee;">
    <div class="container h-100 py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card shopping-cart" style="border-radius: 15px;">
            <div class="card-body">
              <div class="row">
                <div *ngIf="conflict" class="d-flex justify-content-center alert alert-danger">
                    <span> Another hotel booked during this travel window. See</span>
                    <a routerLink="/account-details" class="ml-1">Account</a>
                </div>
                <!--Payment details section-->
                <div class="col-lg-5 px-5 mt-2">
                  <h3 class="mb-5 pt-2 text-center fw-bold text-uppercase">Card Details</h3>
                  <form class="mb-5" [formGroup]="paymentForm">
                    <!--Display account details of user here?-->
                    <!--First & Last Name, email, phone num etc. -->
                    <!-- TO-DO: validators for form -->
                    <!--card number field-->
                    <div data-mdb-input-init class="form-outline mb-3">
                      <label class="form-label" for="typeText">Card Number*</label>
                      <input type="text" id="typeText" class="form-control" size="17"
                      placeholder="Enter your card number" minlength="16" maxlength="16" formControlName="cardNum"/>
                      <div class="alert alert-danger mt-2" *ngIf="paymentForm.get('cardNum')?.touched && paymentForm.get('cardNum')?.invalid">
                          <span>Card Number is invalid.</span>
                      </div>
                    </div>
                    <!--name on card field-->
                    <div data-mdb-input-init class="form-outline mb-3">
                      <label class="form-label" for="typeName">Name on card*</label>
                      <input type="text" id="typeName" class="form-control" placeholder="Enter name on card"  formControlName="cardName"/>
                      <div class="alert alert-danger mt-2" *ngIf="paymentForm.get('cardName')?.touched && paymentForm.get('cardName')?.invalid">
                          <span>Name is required.</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <!--expiration date field-->
                        <div data-mdb-input-init class="form-outline">
                          <label class="form-label" for="typeExp">Expiration date*</label>
                          <input type="text" id="typeExp"class="form-control form-control-lg" 
                          size="6" id="exp" placeholder="MM/YY"  formControlName="expDate"/>
                          <div class="alert alert-danger mt-2" 
                          *ngIf="(paymentForm.get('expDate')?.touched && (paymentForm.get('expDate')?.invalid || paymentForm.get('expDate')?.dirty)) && paymentForm.errors?.['expDate']">
                              <span *ngIf="paymentForm.errors?.['expDate'] === 'format'">Expiration Date invalid.</span>
                              <span *ngIf="paymentForm.errors?.['expDate']=== 'expired'">Card is Expired.</span>
                          </div>
                        </div>
                      </div>
                      <!--security code (CVV) field-->
                      <div class="col-md-6 mb-4">
                        <div data-mdb-input-init class="form-outline">
                          <label class="form-label" for="typeText">CVV*</label>
                          <input type="password" id="typeText" class="form-control form-control-lg"
                          value="" size="1" minlength="3" maxlength="3" placeholder="3-digit code"  formControlName="CVV"/>
                          <div class="alert alert-danger mt-2" *ngIf="paymentForm.get('CVV')?.touched && paymentForm.get('CVV')?.invalid">
                              <span>CVV is invalid.</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="transaction_type === 'new'" data-mdb-input-init class="form-outline mb-3">
                      <label class="form-label" for="dropdown">Number of Reward Nights</label>
                      <select id="dropdown" class="form-select" formControlName="rewardsNights" (change)="updateRewards()">
                        <option *ngFor="let night of rewardNightsOptions" [ngValue]="night"> {{night}} </option>
                      </select>
                    </div>

                    <button *ngIf="transaction_type === 'new' && !loading" (click)="paymentSubmit()" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block btn-lg">
                      Checkout
                    </button>
                    <button *ngIf="transaction_type === 'modify' && !loading" (click)="modifySubmit()" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block btn-lg">
                      Modify
                    </button>
                    <button *ngIf="transaction_type === 'cancel' && !loading" (click)="cancelSubmit()" data-mdb-button-init data-mdb-ripple-init class="btn btn-danger btn-block btn-lg">
                      Cancel
                    </button>
                    <mat-spinner *ngIf="loading" diameter="30"/>
                    <div class="fw-bold mt-4">
                      <a (click)="goBack()"><i class="fas fa-angle-left"></i>Go back to Hotel Details</a>
                    </div>
                  </form>
                </div>

                <!--Order Details/Room booking details-->
                <div class="col-lg-7 px-5 py-2">
                    <h3 class="mb-5 pt-2 text-center fw-bold text-uppercase">Your Room</h3>
                    <!-- room item/order -->
                    <div class="d-flex align-items-center mb-5">
                      <div class="flex-shrink-0">
                        <img [src]="details['images'][0]"
                          class="img-fluid rounded" style="width: 150px;" alt="Generic placeholder image">
                      </div>
                      <div class="flex-grow-1 ms-3">
                        <a href="#!" class="float-end"><i class="fas fa-times"></i></a>
                        <h5 class="text-primary">{{ details['room']}}</h5>
                        <h6 style="color: #9e9e9e;">Hotel Name: {{details['hotel']}}</h6>
                        <h6 style="color: #9e9e9e;">Adults: {{details['adults']}}</h6>
                        <h6 style="color: #9e9e9e;">Children: {{details['children']}}</h6>
                        <h6 style="color: #9e9e9e;">Check In: {{details['checkIn']}}</h6>
                        <h6 style="color: #9e9e9e;">Check Out: {{details['checkOut']}}</h6>
                        <p class="fw-bold mb-0">${{details['price'].toFixed(2)}} * {{details['nights']}} nights = ${{subtotal.toFixed(2)}}</p>
                        <ng-container *ngIf="transaction_type === 'new'">
                          <p class="fw-bold mb-0">Reward Points Earned: {{rewardsEarned}}</p>
                          <p class="fw-bold mb-0">Reward Points Available: {{userRewards}} (${{(userRewards/5).toFixed(2)}})</p>
                          <p class="fw-bold mb-0">Reward Points After Transaction: {{userAfterRewards}}</p>
                        </ng-container>
                      </div>
                    </div>
                    <hr class="mb-4" style="height: 2px; background-color: black; opacity: 1;">
                    <!--This is the cost section-->
                    <div class="d-flex justify-content-between px-x">
                        <div>
                          <p *ngIf="transaction_type !== 'modify'" class="fw-bold">Subtotal:</p>

                          <p *ngIf="transaction_type === 'modify'" class="fw-bold">New Subtotal:</p>
                          <p class="fw-bold">Tax:</p>
                          <p *ngIf="transaction_type === 'new'" class="fw-bold">Rewards Applied:
                            <mat-icon
                              matTooltip="Reward points are 5x rate of hotel. See terms & service for more info.">
                              info
                            </mat-icon>
                          </p>
                          <p *ngIf="transaction_type === 'cancel' && cancellationFee > 0" class="fw-bold">Cancellation Fee: 
                            <mat-icon
                              matTooltip="40% fee of total is charged for cancelling within 1 week of check in date.">
                              info
                            </mat-icon>
                          </p>
                          <p *ngIf="transaction_type === 'modify'" class="fw-bold">New Total:</p>
                          <p *ngIf="transaction_type === 'modify'" class="fw-bold">Previously Paid:</p>
                        </div>
                        <div>
                          <p *ngIf="transaction_type !== 'modify'" class="fw-bold">${{subtotal.toFixed(2)}}</p>

                          <p *ngIf="transaction_type === 'modify'" class="fw-bold">${{subtotal.toFixed(2)}}</p>
                          <p class="fw-bold">${{tax.toFixed(2)}}</p>
                          <p *ngIf="transaction_type === 'new'" class="fw-bold">-${{rewardsApplied.toFixed(2)}}</p>
                          <p *ngIf="cancellationFee > 0" class="fw-bold">-${{cancellationFee.toFixed(2)}}</p>
                          <p *ngIf="transaction_type === 'modify'" class="fw-bold">${{total.toFixed(2)}}</p>
                          <p *ngIf="transaction_type === 'modify'" class="fw-bold">${{details['total_price'].toFixed(2)}}</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between p-2 mb-2 bg-primary rounded">
                      <h5 *ngIf="transaction_type === 'new'" class="fw-bold mb-0" style="color: white">Total:</h5>
                      <h5 *ngIf="transaction_type === 'cancel'" class="fw-bold mb-0" style="color: white">Total Refunded:</h5>
                      <h5 *ngIf="transaction_type !== 'modify'" class="fw-bold mb-0" style="color: white">${{total.toFixed(2)}}</h5>

                      <h5 *ngIf="transaction_type === 'modify'" class="fw-bold mb-0" style="color: white">
                        Difference Due:
                        <mat-icon matTooltip="positive differences represent amount charged from card, negative differences are amounts refunded to card">info</mat-icon>
                      </h5>
                      <h5 *ngIf="transaction_type === 'modify' && positiveDifference" class="fw-bold mb-0" style="color: white">
                        ${{difference.toFixed(2)}}
                      </h5>
                      <h5 *ngIf="transaction_type === 'modify' && !positiveDifference" class="fw-bold mb-0" style="color: white">
                        -${{difference.toFixed(2)}}
                      </h5>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <app-footer/>