<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i" rel="stylesheet">

    <link rel="stylesheet" href="../../../public/assets/css/style.css">

  </head>
  <body>

    <app-navbar/>

    <div class="hero-wrap my-image">
        <div class="overlay"></div>
        <div class="container">
        <div class="row no-gutters slider-text d-flex align-itemd-end justify-content-center">
            <div class="col-md-9 text-center d-flex align-items-end justify-content-center">
            <div class="text">
                <p class="breadcrumbs mb-2" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="">Home</a></span> <span>Hotel Details</span></p>
                <h1 class="mb-4 bread">Hotel Details</h1>
            </div>
            </div>
        </div>
        </div>
    </div>


    <section class="ftco-section">
        <div class="container">
        <div class="row">

            <!-- Hotel Main Details, Contact Info  -->

            <div class="col-lg-8">
            <div class="row">
                <div class="col-md-12">
                    <h1>HOTEL NAME</h1>
                        <div class="item d-flex justify-content-center">
                            <img src="assets/images/room-1.jpg" class="img-fluid rounded">
                        </div>
                </div>
                <div class="col-md-12 mt-4 mb-5">
                    <p>This is where the description for the hotel will be. blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah hotels blah blah blah blah</p>
                    <div class="d-md-flex mt-5 mb-2 room-single justify-content-center">
                        <ul class="list">
                            <li><span>City:</span> blah blah</li>
                            <li><span>Address:</span> blah blah</li>
                        </ul>
                        <ul class="list ml-md-5">
                            <li><span>Email:</span> Blah blah</li>
                            <li><span>Web:</span> blah</li>
                        </ul>
                    </div>
                    <div class="d-md-flex mb-5 room-single justify-content-center">
                        <ul class="list">
                            <li><span>Phone:</span> blah blah</li>
                        </ul>
                    </div>
                    <p>Any additional detail blah blah blah</p>
                </div>             
            </div>
            </div> <!-- .col-md-8 -->
        
            <!-- Search Box, Min & MaxRate, Currency -->
            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="sidebar-box">
                        <form action="#" class="search-form rounded">
                        <div class="form-group">
                            <span class="icon fa fa-search"></span>
                            <input type="text" class="form-control" placeholder="Search A Hotel?">
                        </div>
                        </form>
                    </div>
                </div>
                <div class="text-center">
                    <h3 class="detail-header">Min-Rate: <span class="detail-header2">some number</span></h3>
                    <br>
                    <br>
                    <h3 class="detail-header">Max-Rate: <span class="detail-header2">some number</span></h3>
                    <br>
                    <br>
                    <h3 class="detail-header">Currency: <span class="detail-header2">USD?</span></h3>
                </div>
            </div>
        </div>

        <!--Available Rooms Box-->
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12 room-single mb-5 mt-5">
                    <h4 class="mb-4">Rooms Available</h4>
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <div class="room">
                                <a href="rooms.html" class="img img-2 d-flex justify-content-center align-items-center room-image">
                                    <div class="icon d-flex justify-content-center align-items-center">
                                        <span class="icon-search2"></span>
                                    </div>
                                </a>
                                <div class="text p-3 text-center">
                                    <h3 class="mb-3"><a href="rooms.html">Hotel Name</a></h3>
                                    <p><span class="price mr-2">Net-Rate</span></p>
                                    <p><span class="price mr-2" style="font-size: 1rem">Adults:</span><span>some number</span></p>
                                    <p><span class="price mr-2" style="font-size: 1rem">Children:</span><span>some number</span></p>
                                    <hr>
                                    <p class="pt-1"><a routerLink="/checkout" class="btn-custom">Checkout</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="room">
                                <a href="rooms.html" class="img img-2 d-flex justify-content-center align-items-center room-image">
                                    <div class="icon d-flex justify-content-center align-items-center">
                                        <span class="icon-search2"></span>
                                    </div>
                                </a>
                                <div class="text p-3 text-center">
                                    <h3 class="mb-3"><a href="rooms.html">Hotel Name</a></h3>
                                    <p><span class="price mr-2">Net-Rate</span></p>
                                    <p><span class="price mr-2" style="font-size: 1rem">Adults:</span><span>some number</span></p>
                                    <p><span class="price mr-2" style="font-size: 1rem">Children:</span><span>some number</span></p>
                                    <hr>
                                    <p class="pt-1"><a routerLink="/checkout" class="btn-custom">Checkout</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="room">
                                <a href="rooms.html" class="img img-2 d-flex justify-content-center align-items-center room-image">
                                    <div class="icon d-flex justify-content-center align-items-center">
                                        <span class="icon-search2"></span>
                                    </div>
                                </a>
                                <div class="text p-3 text-center">
                                    <h3 class="mb-3"><a href="rooms.html">Hotel Name</a></h3>
                                    <p><span class="price mr-2">Net-Rate</span></p>
                                    <p><span class="price mr-2" style="font-size: 1rem">Adults:</span><span>some number</span></p>
                                    <p><span class="price mr-2" style="font-size: 1rem">Children:</span><span>some number</span></p>
                                    <hr>
                                    <div>
                                        <p><a routerLink="/checkout" class="btn-custom">Checkout</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section> <!-- .section -->

    <app-footer/>
  </body>
</html>