.my-image {
    background-image: url('../../../public/assets/images/bg_1.jpg');
}

.room-image{
    background-image: url('../../../public/assets/images/room-1.jpg');
}

.detail-header{
    color: rgb(141, 112, 59);
}

.detail-header2{
    color: rgb(0, 0, 0);
}

a{
    cursor:pointer;
}