.my-image {
    background-image: url('../../../public/assets/images/bg_1.jpg');
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }

  .logo-img{
    background-image: url('../../../public/assets/images/nexus_logo.png');
}

a{
  cursor: pointer;
}