<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i" rel="stylesheet">

    <link rel="stylesheet" href="../../../../public/assets/css/style.css">
</head>

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="index.html">LikeHome</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="" class="nav-link">Home</a></li>
            <li class="nav-item" routerLinkActive="active"><a routerLink="/search-results" class="nav-link">Search</a></li>
            <li *ngIf="signedIn" class="nav-item" routerLinkActive="active"><a routerLink="/watchlist" class="nav-link">Watchlist</a></li>
            <li class="nav-item" routerLinkActive="active"><a routerLink="/about-us" class="nav-link">About Us</a></li>
            <li *ngIf="!signedIn" class="nav-item" routerLinkActive="active"><a routerLink="/login" class="nav-link">Sign in</a></li>
            <li *ngIf="signedIn" class="nav-item"><a routerLink="/account-details" class="nav-link">Account</a></li>
            <li *ngIf="signedIn" class="nav-item"><a (click)="logout()" class="nav-link">Logout</a></li>
        </ul>
        </div>
    </div>
</nav>