<!doctype html>
<html lang="en">
<head>
</head>
<body>
<div id="login-container">
    <div id="login-box">
        <h1 id="signtitle">LOGIN</h1>
    <form id="login-details" [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
        <div class="form-label">
            <label class="form-header" for="Username">Username*: </label>
            <input type="text" class="login-text" name="Username" placeholder="Enter Your Username..." formControlName ="username">
        </div>
        <div class="alert alert-danger" *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.invalid">
            <span *ngIf="loginForm.get('username')?.errors?.['required']">Username is required.</span>
        </div>
        <div class="form-label">
            <label class="form-header" for="Password">Password*: </label>
            <input type="text" class="login-text" name="Password" placeholder="Enter Your Password..." formControlName ="password">
        </div>

        <p id="register-link">Don't have an account?<a routerLink="/create-account">Click here</a></p>

        <input id="submitBtn" type="submit" value="SIGN IN">
    </form>
    </div>
</div>
</body>
</html>