<!doctype html>
<html lang="en">
<head>
</head>
<body>
    <h1 id="nexusTitle">NEXUS</h1>
<div id="login-container">
    <div id="login-box">
        <h1>Sign Up</h1>
    <form id="login-details">
        <input type="text" class="login-text" name="Email" placeholder="name@gmail.com...">
        <input type="text" class="login-text" name="Username" placeholder="Enter Your Username...">
        <input type="text" class="login-text" name="Password" placeholder="Enter Your Password...">
        <input id="submitBtn" type="submit">
    </form>
    </div>
</div>
</body>
</html>