html, body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial;
}

.logo-text-box {
    display: inline-block;
    padding-top: 1%;
}

.nexus-logo {
    width: 10%;
    margin-bottom: 5%;
}

.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
}
    
/*
@media (min-width: 1025px) {
.h-custom-2 {
    height: 100%;
}
}*/