<!doctype html>
<html lang="en">
<head>
</head>
<body>
<div id="login-container">
    <div id="login-box">
        <h1 id="signtitle">SIGN UP</h1>
    <form id="login-details" [formGroup]="registerForm" (ngSubmit)="formSubmit()">

        <div class="form-label">
            <label class="form-header" for="Email">Email Address*:</label> 
            <input type="text" class="login-text" name="Email" placeholder="name@gmail.com..." formControlName ="email">
        </div>
        <div class="form-label">
            <label class="form-header" for="Phone">Phone Number:</label> 
            <input type="text" class="login-text" name="Phone" placeholder="XXX-XXX-XXXX" formControlName ="phone">
        </div>
        <div class="form-label">
            <label class="form-header" for="Username">Username: </label>
            <input type="text" class="login-text" name="Username" placeholder="Enter Your Username..." formControlName ="username">
        </div>
        <div class="form-label">
            <label class="form-header" for="Password">Password: </label>
            <input type="text" class="login-text" name="Password" placeholder="Enter Your Password..." formControlName ="password">
        </div>
        
        <p id="register-link">Already have an account?<a routerLink="/login">Click here</a></p>

        <input id="submitBtn" type="submit" value="REGISTER">

    </form>
    </div>
</div>
</body>
</html>