<!doctype html>
<html lang="en">
<head>
</head>
<body>
<section class="vh-100">
    <div class="container-fluid">
        <div class="row">
        <!-- left panel for form -->
        <div class="col-sm-6 text-black" style="max-height: 100vh; overflow-y: auto;">
            <!-- top bar for logo and LikeHome text-->
            <div class="px-5 ms-xl-4 logo-text-box">
                <img class="nexus-logo fas fa-crow fa-2x me-3 mt-xl-4" src="assets/images/nexus_logo.png"  alt="NEXUS LOGO">
                <span class="h1 fw-bold mb-0">LikeHome</span> <!-- TODO update LikeHome font or replace with image potentially -->
            </div>
            <!-- form -->
            <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-0 pt-xl-0 mt-xl-n5">
                <form style="width: 85%;" [formGroup]="registerForm" (ngSubmit)="registerSubmit()">
                    <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Create Account</h3>
                    <div class="first-last-box d-flex justify-content-between">
                        <!-- First Name field -->
                        <div data-mdb-input-init class="form-outline mb-4">
                            <input type="text" class="form-control form-control-lg" formControlName="first_name"/>
                            <label class="form-label">First Name*</label>
                            <div class="alert alert-danger" *ngIf="registerForm.get('first_name')?.touched && registerForm.get('first_name')?.invalid">
                                <span *ngIf="registerForm.get('first_name')?.errors?.['required']">First Name is required.</span>
                            </div>
                        </div>
                        <!-- Last Name field -->
                        <div data-mdb-input-init class="form-outline mb-4">
                            <input type="text" class="form-control form-control-lg" formControlName="last_name"/>
                            <label class="form-label">Last Name</label>
                        </div>
                    </div>
                    <div class="first-last-box d-flex justify-content-between">
                        <!-- email field -->
                        <div data-mdb-input-init class="form-outline mb-4">
                            <input type="text" class="form-control form-control-lg" formControlName="email"/>
                            <label class="form-label">Email*</label>
                            <div class="alert alert-danger" *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid">
                                <span *ngIf="registerForm.get('email')?.errors?.['required']">Email is required.</span>
                                <span *ngIf="registerForm.get('email')?.errors?.['email']">Email is invalid.</span>
                            </div>
                        </div>
                        <!-- phone number field -->
                        <div data-mdb-input-init class="form-outline mb-4">
                            <input type="text" class="form-control form-control-lg" formControlName="phone_number"/>
                            <label class="form-label">Phone Number</label>
                        </div>
                    </div>
                    <!-- username field -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="text" class="form-control form-control-lg" formControlName="username"/>
                        <label class="form-label">Username*</label>
                        <div class="alert alert-danger" *ngIf="registerForm.get('username')?.touched && registerForm.get('username')?.invalid">
                            <span *ngIf="registerForm.get('username')?.errors?.['required']">Username is required.</span>
                        </div>
                    </div>
                    <!-- password field -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="password" class="form-control form-control-lg" formControlName="password"/>
                        <label class="form-label">Password*</label>
                        <div class="alert alert-danger" *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid">
                            <span *ngIf="registerForm.get('password')?.errors?.['required']">Password is required.</span>
                        </div>
                    </div>
                    <!-- confirm password -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="password" class="form-control form-control-lg" formControlName="passwordConf"/>
                        <label class="form-label">Confirm Password*</label>
                        <div class="alert alert-danger" *ngIf="(registerForm.get('[passwordConf]')?.touched || registerForm.get('passwordConf')?.dirty) && registerForm.errors?.['mismatch']">
                            <span>Passwords do not match.</span>
                        </div>
                    </div>
                    <!-- Create Account button -->
                    <div class="pt-1 mb-4">
                        <button *ngIf="!loading" data-mdb-button-init data-mdb-ripple-init class="btn btn-info btn-lg btn-block" type="submit">
                            Next
                        </button>
                        <mat-spinner *ngIf="loading" diameter="30" />
                    </div>
                    <div class="alert alert-danger" *ngIf="emailTaken">
                        <span>Email is taken.</span>
                    </div>

                    <!-- create account redirect button -->
                    <!-- TODO forgot password functionality <p class="small mb-5 pb-lg-2"><a class="text-muted" href="#!">Forgot password?</a></p> -->
                    <p>Already have an account? <a routerLink="/login" class="link-info">Login here</a></p>
                </form>
            </div>
        </div>
        <!-- right panel for image -->
        <div class="col-sm-6 px-0 d-none d-sm-block">
            <img src="https://images.unsplash.com/photo-1561501900-3701fa6a0864?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bHV4dXJ5JTIwaG90ZWx8ZW58MHx8MHx8fDA%3D"
            alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
        </div>
        </div>
    </div>
</section>

</body>
</html>