<head> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i" rel="stylesheet">

  <link rel="stylesheet" href="../../../public/assets/css/style.css">
</head>

<body>
  <!-- nar bar -->
  <app-navbar />

  <div class="hero-wrap my-image">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text d-flex align-itemd-end justify-content-center">
        <div class="col-md-9  text-center d-flex align-items-end justify-content-center">
          <div class="text">
            <p class="breadcrumbs mb-2"><span class="mr-2"><a href="index.html">Home</a></span> <span>About</span></p>
            <h1 class="mb-4 bread">About Us</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="ftco-section ftc-no-pb ftc-no-pt">
    <div class="container">
      <div class="row">
        <div class="col-md-7 py-5 wrap-about pb-md-5 ">
          <div class="heading-section heading-section-wo-line pt-md-5 mb-5">
              <div class="ml-md-0">
                  <span class="subheading">Who are We?</span>
                  <h2 class="mb-4">Team Nexus</h2>
              </div>
          </div>
          <div class="pb-md-5">
              <p>As Team Nexus, we are dedicated to making the booking process simplier and user-friendly.
                    We know how important it is to find the right hotel for your next vacation, and that sometimes the booking process can look overwhelming. 
                    Here at Nexus, we want to make sure you have a hassle-free experience in finding the perfect hotel booking. 
                    We believe finding the best room should be made simple enough for anyone to understand. 
                    Vacations should be fun for everyone, and nobody should have to worry about finding a hotel.
              </p>
              <p>
                  Our goal as Team Nexus is to connect hotels to the clients, and customers to their next fun vacation.
              </p>
          </div>
        </div>
        <div class="col-md 5 d-flex align-items-center">
            <img class="img-fluid" src="assets/images/nexus_logo.png">
        </div>
      </div>
    </div>
  </section>
 
  <!-- top row people cards -->
  <section class="ftco-section" style="padding-bottom: 15px">
      <div class="container">
          
          <div class="row d-flex justify-content-center">

            <div class="col-md-3 d-flex align-self-stretch">
                <div class="media block-6 services py-4 d-block text-center">
                <div class="d-flex justify-content-center">
                    <div class="my-icon d-flex align-items-center justify-content-center">
                        <img class="img-fluid rounded-circle" src="assets/images/ja.png">
                    </div>
                </div>
                <div class="media-body p-2 mt-2">
                    <h3 class="heading mb-3">Tanya Rueben</h3>
                    <p>Project Manager</p>
                </div>
                </div>      
            </div>

            <div class="col-md-3 d-flex align-self-stretch">
              <div class="media block-6 services py-4 d-block text-center">
                  <div class="d-flex justify-content-center">
                      <div class="my-icon d-flex align-items-center justify-content-center">
                          <img class="img-fluid rounded-circle" src="assets/images/lebron.png">
                      </div>
                  </div>
                  <div class="media-body p-2 mt-2">
                      <h3 class="heading mb-3">Fardin Haque</h3>
                      <p>Tech Lead</p>
                  </div>
              </div>    
          </div>
          
          <div class="col-md-3 d-flex align-sel Searchf-stretch ">
              <div class="media block-6 services py-4 d-block text-center">
              <div class="d-flex justify-content-center">
                  <div class="my-icon d-flex align-items-center justify-content-center">
                      <img class="img-fluid rounded-circle" src="assets/images/ben.png">
                  </div>
              </div>
              <div class="media-body p-2 mt-2">
                  <h3 class="heading mb-3">Taanishq Sethi</h3>
                  <p>Tech Lead</p>
              </div>
              </div>      
          </div>

        </div>
      </div>
  </section>        
  
  <!-- bottom row people cards -->
  <section class="ftco-section" style="padding-top: 15px">
    <div class="container">
      <div class="row d-flex">
        <div class="col-md-3 d-flex align-self-stretch ">
          <div class="media block-6 services py-4 d-block text-center">
            <div class="d-flex justify-content-center">
              <div class="my-icon d-flex align-items-center justify-content-center">
                  <img class="img-fluid rounded-circle" src="assets/images/ben.png">
              </div>
            </div>
            <div class="media-body p-2 mt-2">
              <h3 class="heading mb-3">Noah Nguyen</h3>
              <p>Frontend Developer</p>
            </div>
          </div>      
        </div>
        <div class="col-md-3 d-flex align-self-stretch ">
          <div class="media block-6 services py-4 d-block text-center">
            <div class="d-flex justify-content-center">
              <div class="my-icon d-flex align-items-center justify-content-center">
                  <img class="img-fluid rounded-circle" src="assets/images/wemby.png">
              </div>
            </div>
            <div class="media-body p-2 mt-2">
              <h3 class="heading mb-3">Ryan Tran</h3>
              <p>Frontend Developer</p>
            </div>
          </div>    
        </div>
        <div class="col-md-3 d-flex align-sel Searchf-stretch ">
          <div class="media block-6 services py-4 d-block text-center">
            <div class="d-flex justify-content-center">
              <div class="my-icon d-flex align-items-center justify-content-center">
                  <img class="img-fluid rounded-circle" src="assets/images/thanasis.png">
              </div>
            </div>
            <div class="media-body p-2 mt-2">
              <h3 class="heading mb-3">Vincent Cheng</h3>
              <p>Backend Developer</p>
            </div>
          </div>      
        </div>
        <div class="col-md-3 d-flex align-self-stretch ">
          <div class="media block-6 services py-4 d-block text-center">
            <div class="d-flex justify-content-center">
              <div class="my-icon d-flex align-items-center justify-content-center">
                <img class="img-fluid rounded-circle" src="assets/images/rando.png">
              </div>
            </div>
            <div class="media-body p-2 mt-2">
              <h3 class="heading mb-3">Ritesh Kothari</h3>
              <p>Backend Developer</p>
            </div>
          </div>      
        </div>
      </div>
    </div>
  </section>

  <footer class="ftco-footer ftco-bg-dark ftco-section">
		<div class="container">
		<div class="row mb-5">
			<div class="col-md">
			<div class="ftco-footer-widget mb-4">
				<h2 class="ftco-heading-2">Deluxe Hotel</h2>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
				<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
				<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
				<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
				<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
				</ul>
			</div>
			</div>
			<div class="col-md">
			<div class="ftco-footer-widget mb-4 ml-md-5">
				<h2 class="ftco-heading-2">Useful Links</h2>
				<ul class="list-unstyled">
				<li><a href="#" class="py-2 d-block">Blog</a></li>
				<li><a href="#" class="py-2 d-block">Rooms</a></li>
				<li><a href="#" class="py-2 d-block">Amenities</a></li>
				<li><a href="#" class="py-2 d-block">Gift Card</a></li>
				</ul>
			</div>
			</div>
			<div class="col-md">
				<div class="ftco-footer-widget mb-4">
				<h2 class="ftco-heading-2">Privacy</h2>
				<ul class="list-unstyled">
				<li><a href="#" class="py-2 d-block">Career</a></li>
				<li><a href="#" class="py-2 d-block">About Us</a></li>
				<li><a href="#" class="py-2 d-block">Contact Us</a></li>
				<li><a href="#" class="py-2 d-block">Services</a></li>
				</ul>
			</div>
			</div>
			<div class="col-md">
			<div class="ftco-footer-widget mb-4">
				<h2 class="ftco-heading-2">Have a Questions?</h2>
				<div class="block-23 mb-3">
					<ul>
					<li><span class="text">1 Washington Sq, San Jose, California, USA</span></li>
					<li><a href="mailto:nexus.likehome@gmail.com"><span class="text">nexus.likehome&#64;gmail.com</span></a></li>
					</ul>
				</div>
			</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
			<!-- 
			<p>Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
			Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
			Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.</p>
			-->
			</div>
		</div>
		</div>
	</footer>
</body>