<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i" rel="stylesheet">

	<link rel="stylesheet" href="../../../public/assets/css/style.css">
</head>

<div>
  <!-- top banner art -->
  <div class="hero-wrap my-image">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text d-flex align-itemd-end justify-content-center">
        <div class="col-md-9  text-center d-flex align-items-end justify-content-center">
          <div class="text">
            <p class="breadcrumbs mb-2"><span class="mr-2"><a href="index.html">Home</a></span><span>Terms and Conditions</span></p>
            <h1 class="mb-4 bread">Terms and Conditions</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
 
  <!-- Terms and Condition top row -->
  <section class="ftco-section ftc-no-pb ftc-no-pt">
    <div class="container">
      <div class="row">
        <div class="col-md-7 py-5 wrap-about pb-md-5 ">
          <div class="heading-section heading-section-wo-line pt-md-5 mb-5">
              <div class="ml-md-0">
                  <h2 class="mb-4">Terms and Conditions</h2>
              </div>
          </div>
          <div class="pb-md-5">
              <p> When using the LikeHome platform, you agree to abide by the following terms and conditions. 
                These terms outline your rights and responsibilities regarding booking policies, rewards, 
                modifications, cancellations, and other features.
              </p>
          </div>
        </div>
        <div class="col-md 5 d-flex align-items-center">
            <img class="img-fluid" src="assets/images/nexus_logo.png">
        </div>
      </div>
    </div>
  </section>

  <!-- Rewards Policy -->
  <section class="ftco-section bg-light ftc-no-pb ftc-no-pt">
    <div class="container">
      <div class="row">
        <div class="col-md-10 py-5 wrap-about pb-md-5 ">
          <div class="heading-section heading-section-wo-line pt-md-6 mb-5">
              <div class="ml-md-0">
                  <!-- <span class="subheading">Who are We?</span> -->
                  <h2 class="mb-4">Rewards Policy</h2>
              </div>
          </div>
          <div class="pb-md-6">
              <p> When purchasing a room from LikeHome, you will be given reward points. Reward points are 
                determined by the rate per night of the selected room. Users earn 1 reward point per dollar 
                spent, with points calculated based on the ceiling of the rate multiplied by the number of nights. 
                Choosing to earn reward points makes the booking non-modifiable and non-cancelable, while opting 
                out allows flexibility but results in no points. Points can be redeemed at a rate of 5 points per 
                dollar; if a booking is modified or canceled, points are not refunded, but users only pay or receive 
                the difference in the transaction amount. In checkout, make sure to check the “Earn Rewards” box in 
                order to receive rewards. Rates per night are subject to change.
              </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section bg-light ftc-no-pb ftc-no-pt">
    <div class="container">
      <div class="row">
        <div class="col-md-10 py-5 wrap-about pb-md-5 ">
          <div class="heading-section heading-section-wo-line pt-md-6 mb-5">
              <div class="ml-md-0">
                  <!-- <span class="subheading">Who are We?</span> -->
                  <h3 class="mb-4">How do rewards points work?</h3>
              </div>
          </div>
          <div class="pb-md-6">
              <p> The number of points is determined by the rate and the number of nights. 
                During the payment process, you will be shown the amount of reward points 
                that will be awarded when opting into earning rewards for that booking. 
                Reward points are awarded once the payment has been completed for the 
                current booking. Reward points available will be displayed during the 
                payment process and on the “Account” page.
              </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section bg-light ftc-no-pb ftc-no-pt">
    <div class="container">
      <div class="row">
        <div class="col-md-10 py-5 wrap-about pb-md-5 ">
          <div class="heading-section heading-section-wo-line pt-md-6 mb-5">
              <div class="ml-md-0">
                  <!-- <span class="subheading">Who are We?</span> -->
                  <h3 class="mb-4">How do I use my reward points?</h3>
              </div>
          </div>
          <div class="pb-md-6">
              <p> When opting in, reward points are awarded to users to redeem 
                free stays at a hotel. Rewards are eligible for use when the number 
                of rewards points is at least 5x the rate of one night. Points are
                 only redeemable to cover full nights. You may pay for your stay with
                  both rewards points and a payment method as long as the reward points 
                  have covered at least a full night. Partial night redemptions are not accepted.
              </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Cancellation Policy -->
  <section class="ftco-section ftc-no-pb ftc-no-pt">
    <div class="container">
      <div class="row">
        <div class="col-md-10 py-5 wrap-about pb-md-5 ">
          <div class="heading-section heading-section-wo-line pt-md-6 mb-5">
              <div class="ml-md-0">
                  <!-- <span class="subheading">Who are We?</span> -->
                  <h2 class="mb-4">Cancellation Policy</h2>
                  <h3 class="mb-4">How do I cancel my hotel?</h3>
              </div>
          </div>
          <div class="pb-md-6">
              <p> Cancellations are available in the “Account” page. 
                Canceling a booking is done with the “Cancel Booking” button. 
                You must re-enter payment details before canceling a booking.
                 You will receive a confirmation of your cancellation. If you cancel 
                 within one week of check-in, a 40% cancellation fee will apply. 
                 Bookings made using reward points cannot be canceled, and reward 
                 points used in the booking are forfeited.
              </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Modification Policy -->
  <section class="ftco-section bg-light ftc-no-pb ftc-no-pt">
    <div class="container">
      <div class="row">
        <div class="col-md-10 py-5 wrap-about pb-md-5 ">
          <div class="heading-section heading-section-wo-line pt-md-6 mb-5">
              <div class="ml-md-0">
                  <!-- <span class="subheading">Who are We?</span> -->
                  <h2 class="mb-4">Modification Policy</h2>
                  <h3 class="mb-4">Can I modify my bookings?</h3>
              </div>
          </div>
          <div class="pb-md-6">
              <p> Modifying a booking is done in the “Account” page. You must click the “See Details” link, and 
                the information of your hotel will be alongside your current room. You may modify your Check-In/Check-Out dates. 
                You will need to enter a new payment method in order to receive a partial refund or pay for additional nights. 
                If the modified number of nights is less than your previous booking, you will receive a refund. Additional 
                payment is required if the number of nights exceeds the original booking. A modification fee of $100 is 
                charged if the new or old check-in date is within one week of the booking. Bookings made with reward points 
                cannot be modified, and reward points used in the booking are not refunded.                
              </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section ftc-no-pb ftc-no-pt">
    <div class="container">
      <div class="row">
        <div class="col-md-10 py-5 wrap-about pb-md-5 ">
          <div class="pb-md-6 text-center">
              <p> 
                For any further questions or issues, please contact our support team. 
                LikeHome reserves the right to update these terms and conditions at any time.             
              </p>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>  

  <!-- terms
  <div class="terms-container">
    <h1><strong>Terms of Service:</strong></h1>
    <p>
        When using the LikeHome platform, you agree to abide by the following terms and conditions. 
        These terms outline your rights and responsibilities regarding booking policies, rewards, 
        modifications, cancellations, and other features.
    </p>

    <h2><strong>Rewards Policy:</strong></h2>
    <p>
        When purchasing a room from LikeHome, you will be given reward points. Reward points are 
        determined by the rate per night of the selected room. Users earn 1 reward point per dollar 
        spent, with points calculated based on the ceiling of the rate multiplied by the number of 
        nights. Choosing to earn reward points makes the booking non-modifiable and non-cancelable, 
        while opting out allows flexibility but results in no points. Points can be redeemed at a 
        rate of 5 points per dollar; if a booking is modified or canceled, points are not refunded, 
        but users only pay or receive the difference in the transaction amount. In checkout, make 
        sure to check the “Earn Rewards” box in order to receive rewards. Rates per night are subject 
        to change.
    </p>

    <h3><strong>How do rewards points work?</strong></h3>
    <p>
        The number of points is determined by the rate and the number of nights. During the payment 
        process, you will be shown the amount of reward points that will be awarded when opting into 
        earning rewards for that booking. Reward points are awarded once the payment has been completed 
        for the current booking. Reward points available will be displayed during the payment process 
        and on the “Account” page.
    </p>

    <h3><strong>How do I use my reward points?</strong></h3>
    <p>
        When opting in, reward points are awarded to users to redeem free stays at a hotel. Rewards are 
        eligible for use when the number of rewards points is at least 5x the rate of one night. Points 
        are only redeemable to cover full nights. You may pay for your stay with both rewards points and 
        a payment method as long as the reward points have covered at least a full night. Partial night 
        redemptions are not accepted.
    </p>

    <h2><strong>Cancellation Policy:</strong></h2>
    <h3><strong>How do I cancel my hotel?</strong></h3>
    <p>
        Cancellations are available in the “Account” page. Canceling a booking is done with the “Cancel Booking” 
        button. You must re-enter payment details before canceling a booking. You will receive a confirmation of 
        your cancellation. If you cancel within one week of check-in, a 40% cancellation fee will apply. Bookings 
        made using reward points cannot be canceled, and reward points used in the booking are forfeited.
    </p>

    <h2><strong>Modification Policy:</strong></h2>
    <h3><strong>Can I modify my bookings?</strong></h3>
    <p>
        Modifying a booking is done in the “Account” page. You must click the “See Details” link, and the 
        information of your hotel will be alongside your current room. You may modify your Check-In/Check-Out dates. 
        You will need to enter a new payment method in order to receive a partial refund or pay for additional 
        nights. If the modified number of nights is less than your previous booking, you will receive a refund. 
        Additional payment is required if the number of nights exceeds the original booking. A modification fee 
        of $100 is charged if the new or old check-in date is within one week of the booking. Bookings made with 
        reward points cannot be modified, and reward points used in the booking are not refunded.
    </p>

    <p>
        For any further questions or issues, please contact our support team. LikeHome reserves the right to update 
        these terms and conditions at any time.
    </p>
</div>
 -->
