<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i" rel="stylesheet">

	<link rel="stylesheet" href="../../../public/assets/css/style.css">
</head>

<body>
	<!-- nar bar -->
	<app-navbar />

	<!-- default homepage when no children -->
	<div *ngIf="!hasChildren">
		<!-- background image -->
		<section class="home-slider owl-carousel">
			<div class="slider-item my-image">
			<div class="overlay"></div>
			<div class="container">
				<div class="row no-gutters slider-text align-items-center justify-content-center">
				<div class="col-md-12 text-center">
				<div class="text mb-5 pb-3">
					<h1 *ngIf="currentUser['first_name']" class="mb-3">Welcome To LikeHome, {{ currentUser['first_name'] }}</h1>
					<h1 *ngIf="!currentUser['first_name']" class="mb-3">Welcome To LikeHome</h1>
					<h2>Hotels &amp; Resorts</h2>
				</div>
				</div>
			</div>
			</div>
			</div>
		</section>

		<!-- searchbar -->
		<section class="ftco-booking">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
					<form [formGroup]="hotelSearch" (ngSubmit)="hotelSearchSubmit()" class="booking-form">
						<div class="row">
							<div class="col-md-3 d-flex">
								<div class="form-group p-4 align-self-stretch d-flex align-items-end">
									<div class="wrap">
											<label for="#">Location</label>
											<input type="text" class="form-control" placeholder="Location" formControlName="location">
										</div>
									</div>
							</div>
							<div class="col-md-4 d-flex">
								<div class="form-group p-4 align-self-stretch d-flex align-items-end">
									<div class="wrap">
										<label for="#">Date Range</label>
											<div class="row"> 
												<div class="col-md-10">
													<mat-date-range-input class="form-control" [formGroup]="hotelSearch" [rangePicker]="picker">
														<input matStartDate formControlName="check_in" placeholder="Start date">
														<input matEndDate formControlName="check_out" placeholder="End date">
													</mat-date-range-input>
												</div>
												<div class="col-md-1">
													<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
													<mat-date-range-picker #picker></mat-date-range-picker>
												</div>
											</div>
											@if (hotelSearch.controls.check_in.hasError('matStartDateInvalid')) {
											<mat-error>Invalid start date</mat-error>
											}
											@if (hotelSearch.controls.check_out.hasError('matEndDateInvalid')) {
											<mat-error>Invalid end date</mat-error>
											}
									</div>
								</div>
							</div>
							<div class="col-md d-flex">
								<div class="form-group p-4 align-self-stretch d-flex align-items-end">
									<div class="wrap">
										<label for="#">Room</label>
										<div class="form-field">
											<div class="select-wrap">
												<div class="icon"><span class="ion-ios-arrow-down"></span></div>
												<input type="number" class="form-control" placeholder="#" formControlName="rooms">
											</div>
										</div>
									</div> 
								</div> 
							</div> 
							<div class="col-md d-flex">
								<div class="form-group p-4 align-self-stretch d-flex align-items-end">
									<div class="wrap">
										<label for="#">Adults</label>
										<div class="form-field">
											<div class="select-wrap">
												<div class="icon"><span class="ion-ios-arrow-down"></span></div>
												<input type="number" class="form-control" placeholder="#" formControlName="adults">
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md d-flex">
								<div class="form-group p-4 align-self-stretch d-flex align-items-end">
									<div class="wrap">
										<label for="#">Children</label>
										<div class="form-field">
											<div class="select-wrap">
												<div class="icon"><span class="ion-ios-arrow-down"></span></div>
												<input type="number" class="form-control" placeholder="#" formControlName="children">
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md d-flex">
								<div class="form-group d-flex align-self-stretch">
								<input type="submit" value="Check Availability" class="btn btn-primary py-3 px-4 align-self-stretch">
							</div>
							</div>
						</div>
					</form>
					</div>
				</div>
			</div>
		</section>

		<!-- featured rooms -->
		<section class="ftco-section bg-light">
			<div class="container">
				<div class="row justify-content-center mb-5 pb-3">
					<div class="col-md-7 heading-section text-center">
					<h2 class="mb-4">Our Rooms</h2>
					</div>
				</div>    		
				<div class="row">
					<div class="col-sm col-md-6 col-lg-4">
						<div class="room">
							<a href="#" class="img d-flex justify-content-center align-items-center room-image">
								<div class="icon d-flex justify-content-center align-items-center">
									<span class="icon-search2"></span>
								</div>
							</a>
							<div class="text p-3 text-center">
								<h3 class="mb-3"><a href="rooms.html">Suite Room</a></h3>
								<p><span class="price mr-2">$120.00</span> <span class="per">per night</span></p>
								<hr>
								<p class="pt-1"><a href="room-single.html" class="btn-custom">View Room Details <span class="icon-long-arrow-right"></span></a></p>
							</div>
						</div>
					</div>
					<div class="col-sm col-md-6 col-lg-4">
						<div class="room">
							<a href="#" class="img d-flex justify-content-center align-items-center room-image">
								<div class="icon d-flex justify-content-center align-items-center">
									<span class="icon-search2"></span>
								</div>
							</a>
							<div class="text p-3 text-center">
								<h3 class="mb-3"><a href="rooms.html">Family Room</a></h3>
								<p><span class="price mr-2">$20.00</span> <span class="per">per night</span></p>
								<hr>
								<p class="pt-1"><a href="room-single.html" class="btn-custom">View Room Details <span class="icon-long-arrow-right"></span></a></p>
							</div>
						</div>
					</div>
					<div class="col-sm col-md-6 col-lg-4">
						<div class="room">
							<a href="#" class="img d-flex justify-content-center align-items-center room-image">
								<div class="icon d-flex justify-content-center align-items-center">
									<span class="icon-search2"></span>
								</div>
							</a>
							<div class="text p-3 text-center">
								<h3 class="mb-3"><a href="rooms.html">Deluxe Room</a></h3>
								<p><span class="price mr-2">$150.00</span> <span class="per">per night</span></p>
								<hr>
								<p class="pt-1"><a href="room-single.html" class="btn-custom">View Room Details <span class="icon-long-arrow-right"></span></a></p>
							</div>
						</div>
					</div>

					<div class="col-sm col-md-6 col-lg-4">
						<div class="room">
							<a href="rooms.html" class="img d-flex justify-content-center align-items-center room-image">
								<div class="icon d-flex justify-content-center align-items-center">
									<span class="icon-search2"></span>
								</div>
							</a>
							<div class="text p-3 text-center">
								<h3 class="mb-3"><a href="rooms.html">Classic Room</a></h3>
								<p><span class="price mr-2">$130.00</span> <span class="per">per night</span></p>
								<hr>
								<p class="pt-1"><a href="room-single.html" class="btn-custom">View Room Details <span class="icon-long-arrow-right"></span></a></p>
							</div>
						</div>
					</div>
					<div class="col-sm col-md-6 col-lg-4">
						<div class="room">
							<a href="rooms.html" class="img d-flex justify-content-center align-items-center room-image">
								<div class="icon d-flex justify-content-center align-items-center">
									<span class="icon-search2"></span>
								</div>
							</a>
							<div class="text p-3 text-center">
								<h3 class="mb-3"><a href="rooms.html">Superior Room</a></h3>
								<p><span class="price mr-2">$300.00</span> <span class="per">per night</span></p>
								<hr>
								<p class="pt-1"><a href="room-single.html" class="btn-custom">View Room Details <span class="icon-long-arrow-right"></span></a></p>
							</div>
						</div>
					</div>
					<div class="col-sm col-md-6 col-lg-4">
						<div class="room">
							<a href="rooms.html" class="img d-flex justify-content-center align-items-center room-image">
								<div class="icon d-flex justify-content-center align-items-center">
									<span class="icon-search2"></span>
								</div>
							</a>
							<div class="text p-3 text-center">
								<h3 class="mb-3"><a href="rooms.html">Luxury Room</a></h3>
								<p><span class="price mr-2">$500.00</span> <span class="per">per night</span></p>
								<hr>
								<p class="pt-1"><a href="room-single.html" class="btn-custom">View Room Details <span class="icon-long-arrow-right"></span></a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<!-- loads children routes when available -->
	<div *ngIf="hasChildren">
		<router-outlet />
	</div>

	<!-- footer -->
	<app-footer />
</body>